.event-bk-color{
    background-color: #69541b;
    height: 710px;
}

.container-eventer 		{ 
    font-family:'Roboto';
    width:600px; 
    margin:30px auto 0; 
    display:block; 
    background:#FFF;
    padding:10px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  h2 { 
    text-align:center; 
    margin-bottom:50px; 
  }
  h2 small { 
    font-weight:normal; 
    color:#888; 
    display:block; 
  }
  .footer-eventer 	{ text-align:center; }
  .footer-eventer a  { color:#53B2C8; }
  
  /* form starting stylings ------------------------------- */
  .eventer-edit-group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  .input-image-event{
    width: 296px;
  }
  .textarea-event{
    width: 296px;
  }
  input.input-eventer { 				
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input.input-eventer:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label.label-eventer 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input.input-eventer:focus ~ label.label-eventer, input.input-eventer:valid ~ label.label-eventer 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar-eventer 	{ position:relative; display:block; width:300px; }
  .bar-eventer:before, .bar-eventer:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar-eventer:before {
    left:49%;
  }
  .bar-eventer:after {
    right:49%; 
  }
  
  /* active state */
  input.input-eventer:focus ~ .bar-eventer:before, input.input-eventer:focus ~ .bar-eventer:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight-eventer {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  .submit-group-eventer{
    display: flex;
    justify-content: center;
  }
  .submit-group-eventer input {
    background-color: #ae9c52;
    color: white;
    width: 200px;
    box-shadow: 0px 3px 15px #aea052;
    font-size: 20px;
  }
  .submit-group-eventer input:hover {
    cursor: pointer;
  }

  /* active state */
  input:focus ~ .highlight-group {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:120px; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:120px; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:120px; background:transparent; }
  }