.eventsbk-image {
    background-color:crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
}
.eventsbk-image a{
    text-decoration: none;
    background-color: #5292ae;
    width: 200px; 
    height: 60px;
    border-radius: 9px;
    color: rgb(255, 244, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    box-shadow: 0px 3px 15px #000000;
    text-shadow: 0px 3px 5px black;
}
.events-title {
    color: white;
    font-size: 35px;
    text-shadow: 5px 5px 25px black;
}

.events-box-elements {
    color: white;
    margin-top: 35px;
    border-radius: 8px;
    box-shadow: 5px 5px 35px black;
}

.events-box-one {
  font-size: 20px;
  width: 900px;
  height: 400px;
  background-color: #ffffff;
  overflow:auto;
}
.cada-evento{
    background-color:bisque;
    width: 580px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-left: 18%;
    border-radius: 6px;
    box-shadow: 5px 5px 25px lightseagreen;
}

