.Explore-foto{
    background-color: #FFF8DC;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.Explore-Link-events{
  font-size: 26px;
  border-radius: 7px;
  text-decoration: none;
  background-color: #AFEEEE;
  color: black;
  width: 90px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.Explore-Link-marketplace{
    font-size: 26px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #AFEEEE;
    color: black;
    width: 140px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
.Explore-row-left{
    display: flex;
    justify-content: space-evenly;
}
.Explore-feed {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 101px;
} 
.Explore-feed h2 {
    margin-left: 290px;
    display: flex;
    font-size: 40px;
}
.Explore-feedBck {
    box-shadow: 5px 10px 5px black;
    border-radius: 10px;
    margin-left: 290px;
    border: 2px solid darkgray;
    width: 850px;
    height: 450px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}


.ExpoloeB {
    background-color: #3980F9 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExpoloeB p {
    font-size: 30px;
    color: yellow;
}

.Explore-L {
    text-decoration: none;
    color: black;
    font-size: 21px;
    margin-left: 60px;
}

.Explore-L:hover {
    color: yellow;
}